<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="mb-4 posts">

    <div class="col-md-5">
        <div class="title">
            <h2>
                {{post.title}}
            </h2>
        </div>
        <p>
            <span class="post-content">{{post.cont}}</span>
        </p>
        <p>Posted by {{post.postedBy}} on {{post.postedOn}}</p>
    </div>

    <p class="hidden" id="post-id">{{post.id}}</p>

    <div class="col-md-6 comments">
        <form class="form newcomment-form">
            <div class="form-group">
                <label for="cont"></label>
                <input class="form-input" type="text" id="cont" />
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Add New Comment</button>
            </div>
        </form>
    </div>

    {{#if post.comments}}
    {{#each post.comments as |comment|}}
    <div class="col-md-4">
        <p>
            <span class="comment-cont">{{comment.cont}}</span>
        </p>
        <p>Posted by {{comment.postedBy}} on {{comment.postedOn}}</p>
    </div>
    {{/each}}
    {{/if}}

</div>
{{/each}}

<script src="/js/comments.js"></script>