<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<a href="/posts/{{post.id}}">
<div class="mb-4 posts homepage-posts">

    <div class="col-md-5">
        <div class="title">
            <h2>
                {{post.title}}
            </h2>
        </div>
        <p>
            <span class="post-content">{{post.cont}}</span>
        </p>
        <p>Posted by {{user.name}} on {{post.postedOn}}</p>
    </div>

</div>
</a>
{{/each}}
