<div class="mb-4 posts homepage-posts">

    <div class="col-md-5">
        <div class="title">
            <h2>
                {{title}}
            </h2>
        </div>
        <p>
            <span class="post-content">{{cont}}</span>
        </p>
        <p>Posted by {{user.name}} on {{postedOn}}</p>
    </div>

    <p class="hidden" id="post-id">{{id}}</p>

    <div class="col-md-6 addComments">
        <form class="form newcomment-form">
            <div class="form-group">
                <label for="cont">Add a comment: </label>
                <input class="form-input" type="text" id="cont" />
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Add New Comment</button>
            </div>
        </form>
    </div>
</div>

{{#if comments}}
{{> comments-details}}
{{/if}}

<script src="/js/comments.js"></script>